.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
    color : black;
    margin: 0 auto;
}
.categoryList_page__nav{
    background-color: #f8d9b1;
    border-radius: 20px;
    margin: 1rem auto;
    display: flex;
    align-items: center;
    width: 90%;
    min-width: 250px;
    padding: 0.5rem 1.5rem;
}
.categoryList_page__nav h2{
    margin: 0 1rem;
}
.categoryList_page__nav a{
    display: flex;
    align-items: center;
    justify-content: center;
}
.categoryList_page__nav a img{
    width: 50px;
    height: 50px;
}
.toFavorites{
    margin-left: auto;
    background-color: #fff8e2;
    padding: 5px 10px;
    border-radius: 10px;
}
.categoyList_page{
    width: 95vw;
    height: auto;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    background-color: #f8d9b1;
    border-radius: 20px;
    margin: 0 auto;
    padding: 1rem ;
}
.category_list_container h2{
    margin: 1rem;
    color: black;
}
.categoyList_page_grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(50%, auto));
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    max-width: 95%;
    width: var(--max-width);
}

.category_box{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    /* background-color: rgba(44, 44, 44, 0.479); */
    text-align: center;
    position: relative;
    z-index: 1;
    background-color: #684a3c;

}
.category_box img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border-end-end-radius: 0;
    border-end-start-radius: 0;

}
.box_text_container{
    position: relative;
    width: 100%;
}
.box_text_container h4{
    margin: 10px 0;
    color: white;
    text-transform: uppercase;
    font-size: 11px;
    padding: 5px;
    
}
/* background-color: rgba(44, 44, 44, 0.479); */
/* .favBtn{
    position: absolute;
    top: -35%;
    right: 0;
    cursor: default;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 2px;
    background-color: #978B8A;
    cursor: pointer;
    background-color: #684a3c;
    z-index: 5;
}
.favBtn svg{
    padding: 0;
    margin: 0;
} */


.selectedRecipe_page{
    width: 95vw;
    height: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: space-between;
    background-color: #f8d9b1;
    border-radius: 20px;
    margin: 0 auto;
    /* background-color: rgb(228, 184, 159); */
}

.selectedRecipe_box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    text-align: center;
    position: relative;
    z-index: 1;
    /* min-height: 90vh; */
    height: 100%;
    width: 95vw;
    max-width: 500px;

}
.selectedRecipe_box img{
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 20px;

}
.selectedRecipe_box .ingredients_container{
    width: 90%;
    /* max-width: 400px; */
    list-style: none;
    border-radius: 20px;
    padding: 1rem;
    margin: 1rem auto;
    background-color: #684A3C;
    color: #f8d9b1;
}

.ingredients_container ul{
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    text-align: start;
    margin: 0.5rem auto;
    color: #000;
    padding: 0.5rem;
    background-color: #684A3C;
    border-radius: 20px;
    align-content: center;

}
.ingredients_container ul li{
    list-style: none;
    margin: 5px;
    width: 90%;
    background-color: #fff8e2;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
}

.selectedRecipe_box .instruction_container{
    width: 95%;
    /* max-width: 400px; */
    list-style: none;
    border-radius: 20px;
    padding: 1rem;
    margin: 0 auto 1rem auto;
    background-color: #684A3C;
    color: #fff8e2;
}
.selectedRecipe_box .instruction_container p{
    font-size: small;
    text-align: start;
    margin: 10px 5px;
    padding: 10px;
    background-color: #fff8e2;
    border-radius: 5px;
    color: #000;
}
.selectedRecipe_box .recipeInformation{
    width: 100%;
    padding: 0;
    margin: 0;

}
.recipeTitle{
    width: auto;
    color: #684A3C;
    position: relative;
}
.recipeTitle h4{
    font-size: 1.5rem;
    font-weight: 700;
    width: 60%;
    margin: 0 auto;
}
.favBtn{
    background-color: #f8d9b1;
    width: fit-content;
    height: fit-content;
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 5px;
    cursor: pointer;
}

@media (min-width:850px) {
    
    .selectedRecipe_box .recipeInformation{
        display: flex;
        width: 95vw;
        max-width: 1000px;
        height: fit-content;
        margin: 1rem;
        align-items: center;
        gap: 1rem;
    }
    .recipeTitle{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        /* height: 100%; */
            border-radius: 20px;
        padding: 1rem;
        background-color: #684A3C;
        color: #fff8e2;
        position: relative;
    }
    .recipeTitle h4{
        padding: 1rem;
    }
    .favBtn{
        background-color: #f8d9b1;
        width: fit-content;
        height: fit-content;
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        padding: 5px;
        cursor: pointer;
    }
}